In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv("BRFSS2023_1000.csv")

In [30]:
df.head()

,_state,fmonth,idate,imonth,iday,iyear,dispcode,seqno,_psu,ctelenm1,...,drocdy4_,_rfbing6,_drnkwk2,_rfdrhv8,_flshot7,_pneumo3,_aidtst4,_rfseat2,_rfseat3,_drnkdrv
0,1,1,3012023,3,1,2023,1100,2023000001,2023000001,1.0,...,0,1,0,1,2.0,2.0,2.0,1,1,9
1,1,1,1062023,1,6,2023,1100,2023000002,2023000002,1.0,...,0,1,0,1,1.0,1.0,2.0,1,1,9
2,1,1,3082023,3,8,2023,1100,2023000003,2023000003,1.0,...,0,1,0,1,1.0,1.0,2.0,1,1,9
3,1,1,3062023,3,6,2023,1100,2023000004,2023000004,1.0,...,0,1,0,1,1.0,1.0,1.0,1,1,9
4,1,1,1062023,1,6,2023,1100,2023000005,2023000005,1.0,...,7,1,47,1,2.0,1.0,2.0,1,1,2

In [37]:
#df.columns.tolist()

In [74]:
cols = ['cimemlo1', 'avedrnk3', '_smoker3', 'exeroft1', '_rfbmi5']

In [75]:
df[cols].dropna().value_counts()

cimemlo1  avedrnk3  _smoker3  exeroft1  _rfbmi5
2.0       1.0       4         102.0     2          6
                    3         103.0     2          5
                                        1          3
                              105.0     2          3
                    4         103.0     2          3
                                                  ..
          88.0      3         107.0     1          1
7.0       1.0       3         102.0     9          1
                    4         107.0     1          1
          2.0       4         103.0     2          1
          88.0      4         102.0     2          1
Name: count, Length: 120, dtype: int64